In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
pbtype = pd.read_csv("pbtype_2015_2021.csv")

In [3]:
#remove 2015
print("Before",pbtype.shape)
pbtype = pbtype[pbtype.YEAR != 2015]
print("After",pbtype.shape)

Before (54844, 47)
After (47879, 47)

In [4]:
#remove rows that have a PBPTYPENAME != Bicyclist

print("Before",pbtype.shape)
pbtype = pbtype[pbtype.PBPTYPENAME != "Bicyclist"]
print("After",pbtype.shape)

Before (47879, 47)
After (42410, 47)

In [5]:
#make list of columns to remove

removecols = ["VEH_NO","PEDCTYPE", "PEDCTYPENAME", "PEDLOC",
              "PEDLOCNAME","PEDPOS","PEDPOSNAME", "PEDDIR",
              "PEDDIRNAME", "MOTDIR","MOTDIRNAME","MOTMAN",
              "MOTMANNAME","PEDLEG","PEDLEGNAME","PEDSNR",
              "PEDSNRNAME","PEDCGP","PEDCGPNAME"]

print("Before removing", len(removecols),"columns:",pbtype.shape)

for col in removecols:
    pbtype = pbtype.drop(col, axis=1)
    
print("After removing", len(removecols),"columns:",pbtype.shape)

Before removing 19 columns: (42410, 47)
After removing 19 columns: (42410, 28)

In [6]:
pbtype.head(10)

,Unnamed: 0,STATE,ST_CASE,PER_NO,PBPTYPE,PBAGE,PBSEX,PBCWALK,PBSWALK,PBSZONE,...,PBAGENAME,PBSEXNAME,PBCWALKNAME,PBSWALKNAME,PBSZONENAME,BIKECTYPENAME,BIKELOCNAME,BIKEPOSNAME,BIKEDIRNAME,BIKECGPNAME
6965,0,1,10013,1,5,44,1,0,0,0,...,44 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6966,1,1,10013,2,5,23,1,0,0,0,...,23 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6967,2,1,10024,1,5,49,1,0,0,0,...,49 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6968,3,1,10036,1,5,27,2,0,0,0,...,27 Years,Female,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6969,4,1,10039,1,5,80,1,0,0,0,...,80 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6970,5,1,10052,1,5,31,1,0,0,0,...,31 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6972,7,1,10073,1,5,87,1,0,0,0,...,87 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6973,8,1,10083,1,5,20,1,0,0,0,...,20 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6974,9,1,10085,1,5,90,1,0,1,0,...,90 Years,Male,None Noted,Yes,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6975,10,1,10091,1,5,21,2,0,0,0,...,21 Years,Female,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist

In [7]:
print("Before removing unnamed col:",pbtype.shape)
pbtype = pbtype.drop("Unnamed: 0", axis=1)
print("After removing unnamed col:",pbtype.shape)

Before removing unnamed col: (42410, 28)
After removing unnamed col: (42410, 27)

In [8]:
pbtype.head(10)

,STATE,ST_CASE,PER_NO,PBPTYPE,PBAGE,PBSEX,PBCWALK,PBSWALK,PBSZONE,BIKECTYPE,...,PBAGENAME,PBSEXNAME,PBCWALKNAME,PBSWALKNAME,PBSZONENAME,BIKECTYPENAME,BIKELOCNAME,BIKEPOSNAME,BIKEDIRNAME,BIKECGPNAME
6965,1,10013,1,5,44,1,0,0,0,0,...,44 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6966,1,10013,2,5,23,1,0,0,0,0,...,23 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6967,1,10024,1,5,49,1,0,0,0,0,...,49 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6968,1,10036,1,5,27,2,0,0,0,0,...,27 Years,Female,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6969,1,10039,1,5,80,1,0,0,0,0,...,80 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6970,1,10052,1,5,31,1,0,0,0,0,...,31 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6972,1,10073,1,5,87,1,0,0,0,0,...,87 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6973,1,10083,1,5,20,1,0,0,0,0,...,20 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6974,1,10085,1,5,90,1,0,1,0,0,...,90 Years,Male,None Noted,Yes,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6975,1,10091,1,5,21,2,0,0,0,0,...,21 Years,Female,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist

In [11]:
print("Before:",pbtype.columns)
pbtype = pbtype.reset_index(drop=True)
print("After:",pbtype.columns)

Before: Index(['STATE', 'ST_CASE', 'PER_NO', 'PBPTYPE', 'PBAGE', 'PBSEX', 'PBCWALK',
       'PBSWALK', 'PBSZONE', 'BIKECTYPE', 'BIKELOC', 'BIKEPOS', 'BIKEDIR',
       'BIKECGP', 'YEAR', 'STATENAME', 'PBPTYPENAME', 'PBAGENAME', 'PBSEXNAME',
       'PBCWALKNAME', 'PBSWALKNAME', 'PBSZONENAME', 'BIKECTYPENAME',
       'BIKELOCNAME', 'BIKEPOSNAME', 'BIKEDIRNAME', 'BIKECGPNAME'],
      dtype='object')
After: Index(['STATE', 'ST_CASE', 'PER_NO', 'PBPTYPE', 'PBAGE', 'PBSEX', 'PBCWALK',
       'PBSWALK', 'PBSZONE', 'BIKECTYPE', 'BIKELOC', 'BIKEPOS', 'BIKEDIR',
       'BIKECGP', 'YEAR', 'STATENAME', 'PBPTYPENAME', 'PBAGENAME', 'PBSEXNAME',
       'PBCWALKNAME', 'PBSWALKNAME', 'PBSZONENAME', 'BIKECTYPENAME',
       'BIKELOCNAME', 'BIKEPOSNAME', 'BIKEDIRNAME', 'BIKECGPNAME'],
      dtype='object')

In [12]:
pbtype.head(10)

,STATE,ST_CASE,PER_NO,PBPTYPE,PBAGE,PBSEX,PBCWALK,PBSWALK,PBSZONE,BIKECTYPE,...,PBAGENAME,PBSEXNAME,PBCWALKNAME,PBSWALKNAME,PBSZONENAME,BIKECTYPENAME,BIKELOCNAME,BIKEPOSNAME,BIKEDIRNAME,BIKECGPNAME
0,1,10013,1,5,44,1,0,0,0,0,...,44 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
1,1,10013,2,5,23,1,0,0,0,0,...,23 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
2,1,10024,1,5,49,1,0,0,0,0,...,49 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
3,1,10036,1,5,27,2,0,0,0,0,...,27 Years,Female,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
4,1,10039,1,5,80,1,0,0,0,0,...,80 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
5,1,10052,1,5,31,1,0,0,0,0,...,31 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
6,1,10073,1,5,87,1,0,0,0,0,...,87 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
7,1,10083,1,5,20,1,0,0,0,0,...,20 Years,Male,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
8,1,10085,1,5,90,1,0,1,0,0,...,90 Years,Male,None Noted,Yes,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist
9,1,10091,1,5,21,2,0,0,0,0,...,21 Years,Female,None Noted,None Noted,None Noted,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist,Not a Cyclist

In [13]:
pbtype.to_csv("pbtype_cleaned.csv", index=False)